<div *ngIf="datasources?.length > 0;then sourced else notsourced"></div>
<ng-template #sourced>
  <div class="ui segment">
    <h3 class="heading">Data Sources Used</h3>
    <div class="ui relaxed divided list">
      <div *ngFor="let s of datasources" class="item">
        <i class="large cube middle aligned blue icon"></i>
        <div class="content">
          <a href="{{s.provider_org}}" class="header">{{s.abbr}}</a>
          <!-- <div class="description">Updated {{s.last_updated | date | timestamp }} x mins ago</div> -->
          <div class="description heading">{{s.desc}}</div>
          <div class="description">Updates every {{s.frequency.value + ' ' + s.frequency.units}}</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #notsourced>
  <div class="ui warning message">
    <h3 class="heading">Data Sources Unavailable</h3>

  </div>
</ng-template>
