<div class="shrinker">
  <div class="ui mapbox" (mouseup)="upSplitView($event)" (mousedown)="downSplitView($event)" (click)="onUp($event)"
       (drag)="dragSplitView($event)" (mousemove)="dragSplitView($event)">
    <div class="viewport" id="backViewport">
      <div class="viewframe">
        <div id="mymapbox" class="ui mapbox mapboxgl-map"></div>
      </div>
    </div>
    <div class="viewport" id="frontViewport">
      <div class="viewframe">
        <div id="myAltmapbox" class="ui mapbox mapboxgl-map"></div>
      </div>
    </div>
    <div id="splitViewHandle" class="viewDividerhandle" (mouseenter)="enterSplitViewHandle($event)"
         (click)="clickSplitView($event)" (mouseleave)="leaveSplitViewHandle($event)">
      <div class="ui straight_labels">
        <div *ngIf="splitview" class="left_label">
          <div class="ui blue left pointing label">{{ (modelA | uppercase) || 'NONE' }}</div>
        </div>
        <div *ngIf="splitview" class="right_label">
          <div class="ui blue right pointing label">{{ (modelB | uppercase) || 'NONE' }}</div>
        </div>

        <div *ngIf="!splitview" class="right_label">
          <div class="ui blue right pointing label">SPLIT</div>
        </div>
      </div>

    </div>
  </div>
  <div class="overlay-toolbar">
    <div id="myoverlay" class='map-overlay'>
      <sui-tabset #bottomToolSet>
        <div class="attached inverted segment" suiTabContent="0" [suiCollapse]="!modelise">
          <!-- Start: MODEL Panel -->
          <div class="ui panel">
            <div class="ui top attached fluid tiny inverted menu">
              <a class="item" (click)="modelise = !modelise"><i class="red close icon"></i></a>
              <a class="item" (click)="toggleSplitView()" data-content="Split View Panel">
                <div *ngIf="!splitview"><i class="white square outline icon"></i> Split is Off</div>
                <div *ngIf="splitview"><i class="white columns icon"></i> Split is On</div>
              </a>
            </div>
            <!--<sui-dimmer [(isDimmed)]="model_dimmer" [isClickable]="false">-->
            <!--<div class="ui indeterminate text loader">Loading models. Please wait.</div>-->
            <!--</sui-dimmer>-->
            <!-- Start: Model List/Selection Table -->
            <table class="ui selectable inverted table" id="modelList">
              <thead>
              <tr>
                <th *ngIf="!splitview" class="right aligned collapsing">Select</th>
                <th *ngIf="splitview" class="right aligned collapsing">Assign</th>
                <th class="collapsing single line">Model</th>
                <th class="center aligned">Data Availability</th>
                <th class="collapsing"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let m of models">


                <td *ngIf="!splitview" class="right aligned">
                  <div class="ui mini compact icon buttons">
                    <button class="ui compact black icon button" *ngIf="!m.enabled_right"
                            (click)="toggleModel(m.code, 'R')"><i class="toggle off icon"></i></button>
                    <button class="ui compact black icon button" *ngIf="m.enabled_right"
                            (click)="toggleModel(m.code, 'O')"><i class="yellow toggle on icon"></i></button>
                  </div>
                </td>

                <td *ngIf="splitview" class="right aligned">
                  <div class="ui mini compact icon buttons">
                    <button class="ui compact black icon button" *ngIf="m.enabled_left"
                            (click)="toggleModel(m.code, 'L')"><i class="blue caret left icon"></i></button>
                    <button class="ui compact black icon button" *ngIf="!m.enabled_left"
                            (click)="toggleModel(m.code, 'L')"><i class="angle left icon"></i></button>

                    <button class="ui compact black icon button" *ngIf="!m.enabled_left && !m.enabled_right"
                            [disabled]="(!m.enabled_left && !m.enabled_right)"><i class="toggle off icon"></i>
                    </button>
                    <button class="ui compact black icon button" *ngIf="m.enabled_left || m.enabled_right"
                            (click)="toggleModel(m.code, 'O')"><i class="yellow toggle on icon"></i></button>

                    <button class="ui compact black icon button" *ngIf="m.enabled_right"
                            (click)="toggleModel(m.code, 'R')"><i class="blue caret right icon"></i></button>
                    <button class="ui compact black icon button" *ngIf="!m.enabled_right"
                            (click)="toggleModel(m.code, 'R')"><i class="angle right icon"></i></button>
                  </div>
                </td>
                <td class="single line">
                  <div class="" *ngIf="!splitview" (click)="toggleModel(m.code, 'R')">
                    {{m.ident}}
                  </div>

                  <div class="" *ngIf="splitview">
                    {{m.ident}}
                  </div>


                  <!--<div *ngIf="m.code === 'JASMIN'" class="ui mini compact buttons">-->
                  <!--<button *ngIf="jasminLevel === 0.1" class="ui compact blue button" (click)="setJasminLevel(0.1)">0.1</button>-->
                  <!--<button *ngIf="jasminLevel === 0.25" class="ui compact blue button" (click)="setJasminLevel(0.25)">0.25</button>-->
                  <!--<button *ngIf="jasminLevel === 0.65" class="ui compact blue button" (click)="setJasminLevel(0.65)">0.65</button>-->
                  <!--<button *ngIf="jasminLevel === 2" class="ui compact blue button" (click)="setJasminLevel(2)">2</button>-->

                  <!--<button *ngIf="jasminLevel !== 0.1" class="ui compact black button" (click)="setJasminLevel(0.1)">0.1</button>-->
                  <!--<button *ngIf="jasminLevel !== 0.25" class="ui compact black button" (click)="setJasminLevel(0.25)">0.25</button>-->
                  <!--<button *ngIf="jasminLevel !== 0.65" class="ui compact black button" (click)="setJasminLevel(0.65)">0.65</button>-->
                  <!--<button *ngIf="jasminLevel !== 2" class="ui compact black button" (click)="setJasminLevel(2)">2</button>-->
                  <!--</div>-->
                </td>
                <td class="single line timebar">
                  <app-time-bar *ngIf="m.enabled_right" [model_layer_group]="m.code"></app-time-bar>
                </td>
                <td>
                  <div class="ui mini compact icon buttons">
                    <button class="ui inverted compact icon button" routerLink="models"><i class="info icon"></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <!-- End: Model List/Selection Table -->
          </div>
          <!-- End: MODEL Panel -->
        </div>
        <div class="attached inverted segment" suiTabContent="1" [suiCollapse]="!collapse">
          <!-- Start: TIME Panel -->
          <div class="ui panel">
            <div class="ui top attached fluid tiny inverted menu">
              <a class="item" (click)="collapse = !collapse">
                <i class="red close icon"></i>
              </a>
              <a class="item" (click)="toggleTimeBrushing()" data-content="Timebrushing">
                <div *ngIf="timebrush"><i class="white paint brush icon"></i> Timebrush OFF</div>
                <div *ngIf="!timebrush"><i class="white close icon"></i> Timebrushing ON</div>
              </a>

              <a class="green right aligned item" (click)="refreshModelData()" data-content="Go">
                <i class="white angle double right icon"></i> Go
              </a>
            </div>
            <div class="ui attached inverted segment">
            <div class="ui three column stackable grid">
              <div class="left aligned column">
                <div class="ui bottom pointing blue label">

                  <h4 class="center aligned heading">First date</h4>
                  <div class="ui tiny blue inverted menu">
                    <a class="item" (click)="extendPast()">
                      <i class="left angle icon"></i>
                    </a>
                    <a class="stretch item" suiDatepicker [pickerMinDate]="minStartDate" [pickerMaxDate]="maxStartDate"
                       [pickerMode]="'date'" [(ngModel)]="rangeStart" (ngModelChange)="updateRangeSelector()"><i
                      class="calendar icon"></i> From: {{rangeStart | date:'dd/MM/yyyy'}}</a>
                    <a class="right aligned item" (click)="reducePast()">
                      <i class="right angle icon"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="column">
                <!--<div class="ui tiny inverted menu">-->
                <!--<a class="item" (click)="shuntPastWeek()">-->
                <!--<i class="angle double left icon"></i>-->
                <!--</a>-->
                <!--<a class="item" (click)="shuntPast()">-->
                <!--<i class="left caret icon"></i>-->
                <!--</a>-->
                <!--<a class="stretch item" (click)="weekView()" data-content="This past week"><i class="clock icon"></i>-->
                <!--Current-->
                <!--{{durationWindow()}}-day Window</a>-->
                <!--<a class="right aligned item" (click)="shuntFuture()">-->
                <!--<i class="right caret icon"></i>-->
                <!--</a>-->
                <!--<a class="right aligned item" (click)="shuntFutureWeek()">-->
                <!--<i class="angle double right icon"></i>-->
                <!--</a>-->
                <!--</div>-->
              </div>

              <div class="right aligned column">
                <div class="ui bottom pointing blue label">
                  <h4 class="center aligned heading">Last date</h4>
                  <div class="ui tiny blue inverted menu">
                    <a class="item" (click)="reduceFuture()">
                      <i class="left angle icon"></i>
                    </a>
                    <a class="stretch item" suiDatepicker [pickerMinDate]="minEndDate" [pickerMaxDate]="maxEndDate"
                       [pickerMode]="'date'"
                       [(ngModel)]="rangeFinish" (ngModelChange)="updateRangeSelector()">
                      <i class="calendar icon"></i> To:
                      {{rangeFinish
                      |
                      date:'dd/MM/yyyy'}}</a>
                    <a class="right aligned item" (click)="extendFuture()">
                      <i class="right angle icon"></i>
                    </a>
                  </div>
                </div>
              </div>

            </div>
            
            <div class="ui bottom attached map-overlay-inner">
                <app-range-selector [min]="rangeStart"
                                [max]="rangeFinish"
                                (rangeChange)="updateDates($event)"></app-range-selector>

            </div>
              <app-charting id="chart" [lat]="lat" [lng]="lng" [start]="start | date:'yMMdd'"
                            [finish]="finish | date:'yMMdd'" (select)="onSelectDate($event)"></app-charting>

            </div>
          </div>
          <!-- End: TIME Panel -->
        </div>
        <div class="attached inverted segment" suiTabContent="2" [suiCollapse]="!ingesting">
          <!-- Start: SPACE Panel -->
          <div class="ui panel">
            <div id='ingest-area' class='ui ingest-area'>
              <div class="ui top attached fluid tiny inverted menu">
                <!--<div class="right floated item" #calculatedarea>{{calculated_area}}</div>-->
                <a class="item" (click)="ingesting = !ingesting; isCopied=false;">
                  <i class="red close icon"></i>
                </a>


                <a class="item" (click)="zoomToBoundaryView()">
                  <i class="linkify icon"></i>
                  Snap to Boundary
                </a>

                <a class="item" [ngxClipboard]="geojsonarea" (cbOnSuccess)="isCopied = true">
                  <i class="icons">
                    <i class="copy icon"></i>
                    <i *ngIf="isCopied" class="large green checkmark icon"></i>
                  </i>
                  Copy
                </a>
                <a class="item" (click)="saveBoundary()" data-content="Save GeoJSON">
                  <i class="white group object icon"></i> Save
                </a>

                <a class="item" (click)="importGeoJSON()" data-content="Import GeoJSON">
                  <i class="white file icon"></i> Import
                </a>


                <a class="right aligned item" (click)="calculateArea()" data-content="Calculate Area">
                  <i class="white calculator icon"></i> Calculate Total Area
                </a>


              </div>

              <div class="ui two column stackable grid" style="margin:0;">
                <div class="row">
                  <div class="column">
                    <div class="ui form">
                      <div class="field json">
                    <textarea style="background-color: transparent;height:40vh;" class="fillgeoarea"
                              [(ngModel)]="ingestGeoJson" (change)="importGeoJSON()" #geojsonarea></textarea>

                        <!--<input type="hidden" [(ngModel)]="ingestGeoJson" (change)="importGeoJSON()" #geojsonarea/>-->
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <app-importeditems [(drawing)]="drw" [(altdrawing)]="altdrw"></app-importeditems>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End: SPACE Panel -->
        </div>

        <div id="overlay_menu" class="ui bottom attached inverted tabular menu">

          <a class="inverted item" suiTabHeader="0" [(isActive)]="zeroActive"
             (click)="modelise = !modelise; collapse=false; ingesting = false; availview = false"
             data-content="Model Selection Panel"><i class="white database icon"></i> MODELS</a>

          <a class="inverted item" suiTabHeader="1" [(isActive)]="firstActive"
             (click)="collapse = !collapse; ingesting = false; availview = false; modelise = false"
             data-content="Time-series Chart Panel"><i class="white area chart icon"></i> TIME</a>

          <a class="inverted item" suiTabHeader="2" [(isActive)]="secondActive"
             (click)="ingesting = !ingesting; collapse = false; availview = false; saveBoundary(); modelise = false"
             data-content="GeoJSON Panel"><i class="white map icon"></i> SPACE</a>

        </div>
      </sui-tabset>
    </div>
  </div>
</div>

<lfmc-video></lfmc-video>

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.css'
      type='text/css'/>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet'
      href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.css'
      type='text/css'/>
