html, body {
  margin: 0; height: 100%; overflow: hidden;
}
body { margin:0; padding:0; }

#mymapbox,
#myaltmap {
  height: 100%;
  padding: 0em;
  margin: 0em;
  z-index: 200;
}
.ui.mapbox {
  position: relative;
  width: 100vw;
  height: 95vh;
}
#mymapbox { position:absolute; top:0; bottom:0; width:100%; }

#myoverlay {
  position: absolute;
  widows: 100vw;;
  top: 0.8em;
  left: 0;
  right: 0;
  z-index: 250;
}
#myoverlay .ui.mini.inverted.black.label,
#myoverlay input.inverted {
  opacity: 0.65;
}

#temp {
  position: absolute;
  bottom: 1em;
  right: 4em;
  z-index: 400;
}

#geocoder-container > div {
    min-width:50%;
    margin-left:25%;
}


#chart {
  position: absolute;
}

input.inverted {
  background-color: #000;
  color: #fff;
}
