#mymapbox,
#myaltmap {
  height: 80vh;
  padding: 0em;
  margin: 0em;
  z-index: 200;
}

#myoverlay {
  position: absolute;
  width: ((100%)-1em);
  top: 1em;
  left: 4em;
}

#temp {
  position: absolute;
  bottom: 20vh + 2em;
  right: 4em;
}

#geocoder-container > div {
    min-width:50%;
    margin-left:25%;
}


#chart {
  position: absolute;
}
