.footer.segment {
  margin-top: 2rem;
  margin-bottom: 0em;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(9,65,131);
  /*background-color: #0c304a;*/
}

.footer > a {
  color: white;
}

.uom_blue_background {
  background-color: rgb(9,65,131);
  /*background-color: #0c304a;*/
  color: #FFFFFF;
}

.uom_blue_background > * {
  color: #FFFFFF;
}

.uom_blue_background * a {
  color: #FFFFFF !important;
  text-decoration: none;
}

.uom_blue {
  color: rgb(9,65,131);
}
