
<div class="ui vertical stripe segment">
  <section class="quick-contact">
    <div class="ui grid">
      <div class="row">
        <div class="ui sixteen wide center aligned column">
          <div class="ui horizontal list">
            <div class="item"><i class="large grey middle aligned phone icon"></i></div>
            <div class="item">DELWP general enquiries: <a href="tel:136186" class="quick-contact__info">136 186</a>
            </div>
            <div class="item">VicEmergency Hotline: <a href="tel:1800226226" class="quick-contact__info">1800 226
              226</a></div>
            <div class="item">Local Government Switchboard: <a href="tel:0392083333" class="quick-contact__info">03 9208
              3333</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui sixteen wide center aligned column">
          <p><span class="quick-contact__info">Deaf, hearing or speech impaired?</span> Please contact the National<br>
            Relay Service on

            <a href="tel:133677" class="quick-contact__info">133 677</a> or
            <a class="quick-contact__info" target="_blank" href="http://www.relayservice.gov.au"
               onmousedown="dataLayer.push({'event': 'eventTracker', 'eventCat': 'Outbound Links', 'eventAct':'Click', 'eventLbl': 'relayservice.gov.au/', 'eventVal': 0, 'nonInteraction': 0});">www.relayservice.gov.au</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="ui inverted vertical stripe footer  segment">
  <div class="ui container">

    <div class="ui section">
      <img class="ui centered small image" src="/assets/PRIMARY_A_Vertical_Housed_RGB.png">
    <div class="ui uom_blue_background three item menu">
      <a class="uom_blue_background item" href="http://students.unimelb.edu.au">Current Students</a>
      <a class="uom_blue_background item" href="http://staff.unimelb.edu.au">Staff</a>
      <a class="uom_blue_background item" href="http://alumni.unimelb.edu.au/">Alumni</a>
    </div>
    </div>
    <div class="ui section divider"></div>
    <div class="ui stackable inverted divided equal height stackable padded grid">
      <div class="eight wide column">
        <img class="ui small spaced image" src="/assets/delwp.png">
        <h4 class="ui inverted header">About</h4>
        <p>Developed by the <a href="http://unimelb.edu.au" target="_blank">University of Melbourne</a> in collaboration
          with <a href="https://delwp.vic.gov.au/" target="_blank">The Department of Environment, Land, and Water
            Planning</a>.</p>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Supported by:</h4>
        <div class="ui uom_blue_background inverted relaxed divided list">
          <div class="item"><a href="http://delwp.vic.gov.au" target="_blank">DELWP</a></div>
          <div class="item"><a href="http://www.cfa.vic.gov.au/" target="_blank">CFA</a></div>
          <div class="item"><a
            href="https://www.education.gov.au/national-collaborative-research-infrastructure-strategy-ncris"
            target="_blank">NCRIS</a></div>
          <div class="item"><a href="http://nectar.org.au/" target="_blank">NeCTAR</a></div>
          <div class="item"><a href="http://rds.edu.au" target="_blank">RDS</a></div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui uom_blue_background inverted relaxed divided list">
          <a class="uom_blue_background item" href="http://about.unimelb.edu.au/governance-and-leadership/faculties">
            <i class="white building icon"></i>
            Faculties and Graduate Schools</a>
          <a class="uom_blue_background item" href="http://library.unimelb.edu.au/">
            <i class="white book icon"></i>
            Library</a>
          <a class="uom_blue_background item" href="http://www.unimelb.edu.au/contact/">
            <i class="white phone icon"></i>
            Contact us</a>
          <a class="uom_blue_background item" href="https://maps.unimelb.edu.au/">
            <i class="white map marker icon"></i>
            Maps</a>
          <a class="uom_blue_background item" href="http://www.campaign.unimelb.edu.au/">
            <i class="white university icon"></i>
            Support the Campaign</a>
          <a class="uom_blue_background item" href="http://about.unimelb.edu.au/careers">
            <i class="white briefcase icon"></i>
            Jobs</a>
        </div>
      </div>
    </div>
    <div class="ui section divider"></div>
    <p class="center aligned" style="text-align: center"><em>We acknowledge and pay respect to the Traditional Owners of the lands upon which our campuses are situated.</em></p>
    <div class="ui section divider"></div>
    <div class="ui uom_blue_background menu">
      <a class="uom_blue_background item" href="http://safety.unimelb.edu.au/emergency">Emergency Information</a>
      <a class="uom_blue_background item" href="http://www.unimelb.edu.au/governance/disclaimer">Disclaimer &amp;
        Copyright</a>
      <a class="uom_blue_background item" href="http://www.unimelb.edu.au/accessibility">Accessibility</a>
      <a class="uom_blue_background item" href="http://www.unimelb.edu.au/governance/compliance/privacy">Privacy</a>
      <div class="uom_blue_background right menu">
        <a class="uom_blue_background item" href="https://www.facebook.com/unimelb"><i class="ui white facebook icon"
                                                                                      data-content="Facebook"></i></a>
        <a class="uom_blue_background item" href="https://www.twitter.com/unimelb"><i class="ui white twitter icon"
                                                                                      data-content="Twitter"></i></a>
        <a class="uom_blue_background item" href="https://www.linkedin.com/company/university-of-melbourne"><i
          class="ui white linkedin icon" data-content="LinkedIn"></i></a>
      </div>
    </div>
    <div class="ui section divider"></div>
    <div class="ui section">
      <p>Phone: 13 MELB (13 6352) | International: +61 3 9035 5511</p>
      <p>The University of Melbourne ABN: 84 002 705 224</p>
      <p>CRICOS Provider Code: 00116K (<a href="http://www.services.unimelb.edu.au/international/visas/index.html">visa
        information</a>)</p>
    </div>
  </div>
</div>
