<div class="ui vertical stripe segment">
  <section class="quick-contact">
    <div class="ui grid">
      <div class="row">
        <div class="ui sixteen wide center aligned column">
          <div class="ui horizontal list">
            <div class="item"><i class="large grey middle aligned phone icon"></i></div>
            <div class="item">DELWP general enquiries: <a href="tel:136186" class="quick-contact__info">136 186</a></div>
            <div class="item">VicEmergency Hotline: <a href="tel:1800226226" class="quick-contact__info">1800 226 226</a></div>
            <div class="item">Local Government Switchboard: <a href="tel:0392083333" class="quick-contact__info">03 9208 3333</a></div>
          </div>
        </div>

        <div class="ui sixteen wide center aligned column">
          <p><span class="quick-contact__info">Deaf, hearing or speech impaired?</span> Please contact the National<br> Relay Service on

            <a href="tel:133677" class="quick-contact__info">133 677</a> or
            <a class="quick-contact__info" target="_blank" href="http://www.relayservice.gov.au" onmousedown="dataLayer.push({'event': 'eventTracker', 'eventCat': 'Outbound Links', 'eventAct':'Click', 'eventLbl': 'relayservice.gov.au/', 'eventVal': 0, 'nonInteraction': 0});">www.relayservice.gov.au</a></p>


        </div>

      </div>
    </div>
  </section>
</div>
<div class="ui inverted vertical stripe footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable padded grid">
      <div class="eight wide column">
        <h4 class="ui inverted header">About</h4>
        <p>Developed by the <a href="http://unimelb.edu.au">University of Melbourne</a> in collaboration with <a href="https://delwp.vic.gov.au/">The Department of Environment, Land, and Water Planning</a>.</p>
        <h5>Accessibility</h5>
        <p>This site is designed to meet the <a href="www.w3.org/TR/WCAG20/">Web content accessibility guidelines version 2.0</a> (WCAG 2.0) Standard.</p>
        <p class="copyright">&copy; (2017) University of Melbourne.</p>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Supported by:</h4>
        <div class="ui relaxed list">
          <div class="item"><a href="http://delwp.vic.gov.au">DELWP</a></div>
          <div class="item"><a href="https://education.gov.au/national-collaboration-research-infrastructure-strategy-ncris">NCRIS</a></div>
          <div class="item"><a href="http://nectar.org.au/">NeCTAR</a></div>
          <div class="item"><a href="http://rds.edu.au">RDS</a></div>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Connect</h4>
        <div class="ui relaxed list">
          <div class="item"><a href="http://twitter.com"><i class="ui large center aligned white twitter icon"></i>Twitter</a></div>
        </div>
        <h4 class="ui inverted header">Contact</h4>
        <p><a href="mailto:anthony.rawlins@unimelb.edu.au">Webmaster</a></p>
      </div>
    </div>
  </div>
</div>
