<div class="ui container">
	<div class="ui segment">
		<div class="ui grid">
			<div class="ui four wide column">
				<div class="ui blue inverted segment">
					<h3 class="heading">Limitations</h3>
					<div class="ui inverted relaxed divided list">
						<div class="item"><i class="upload icon"></i>5 file upload limit.</div>
						<div class="item"><i class="disk outline icon"></i>100MB per file.</div>
						<div class="item"><i class="file icon"></i>GeoJSON</div>
            <div class="item"><i class="file icon"></i>SHP Files</div>
					</div>
				</div>
			</div>
			<div class="ui eight wide column">
				<h2 class="heading"><i class="large blue middle aligned info icon"></i>Visualise your own data</h2>
				<p>Need to visualise extra boundaries, features or point data?</p>
				<p>Upload your own GeoJSON files and have them visible on your own data layer.</p>
			</div>
			<div class="ui four wide column"></div>
		</div>
	</div>
</div>
<app-upload></app-upload>

<app-footer></app-footer>
