<lfmc-mapbox></lfmc-mapbox>
<div class="ui container">
  <div class="ui floating message">
    <i class="close icon"></i>
    <div class="header">
      <i class="info icon"></i>
      Under development
    </div>
    <div class="content">This site is in a constant state of flux. Use at your own risk!</div>
  </div>

  <div class="ui vertical segment">
    <div class="ui divided equal width equal height stackable grid">
      <div class="column">
        <i class="compass icon"></i>
        <h3>
        Stored Locations
      </h3></div>
      <div class="column">
        <i class="marker icon"></i>
        <h3>
        Saved Points
      </h3></div>
      <div class="column"><h3>
        Under development
      </h3></div>
    </div>
  </div>
</div>
