<lfmc-mapbox></lfmc-mapbox>

<div class="ui info message">
  <i class="close icon"></i>
  <div class="header">
    Under development
  </div>
  <div class="content">This site is in a constant state of flux use at your own risk.</div>
</div>

<div class="ui segment">
  <div class="ui four column grid">
    <div class="column">
      <i class="compass icon"></i>
      <div class="header">
      Stored Locations
    </div></div>
    <div class="column">
      <i class="marker icon"></i>
      <div class="header">
      Saved Points
    </div></div>
    <div class="column"><div class="header">
      Under development
    </div></div>
    <div class="column"><div class="header">
      Under development
    </div></div>
  </div>
</div>
