<div class="ui blue inverted vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header">Landscape Fuel Moisture Condition</h1>
    <h2>Select from the best-of-class numeric models</h2>
  </div>
</div>
<!-- Models -->
<div class="ui vertical stripe container">
  <sui-accordion class="ui bottom attached styled fluid accordion">
    <sui-accordion-panel *ngFor="let m of models" [isOpen]="true">
      <div title>
        <i class="large dropdown icon"></i> <span class="ui header">{{m.name}}</span>
      </div>
      <div content>
        <div class="ui list">
          <div class="ui item">
            <div class="ui internally divided grid">
              <div class="ui row">
                <div class="ui twelve wide column">
                  <h2 class="ui header"><a [href]="m.href" target="_blank">{{m.title}}</a></h2>
                  <p>{{m.date}}</p>
                  <p>{{m.validated.references[0].authors}}</p>
                  <h4 class="heading">Abstract</h4>
                  <p>{{m.description.abstract}}</p>
                </div>
                <div class="ui four wide column">
                  <div class="ui attached warning icon message">
                    <i class="attention icon"></i>
                    <div class="content">
                      <div class="header">Applicability of Purpose Notice</div>
                      <p>This model might not be suitable for certain areas.</p>
                    </div>
                  </div>
                  <div class="ui bottom attached black message">
                    <sui-checkbox [(ngModel)]="m.enabled" class="toggle"></sui-checkbox>
                    <span *ngIf="m.enabled">Enabled</span><span *ngIf="!m.enabled">Disabled</span>
                  </div>
                  <label>Rating</label>
                  <sui-rating [(ngModel)]="m.rating" [maximum]="10" [isReadonly]="true"></sui-rating>
                  <div class="ui divider"></div>
                  <lfmc-datasources [model]="m"></lfmc-datasources>
                </div>
              </div>
              <div class="ui row">
                <div class="ui four wide column">
                  <div class="ui top attached segment"><h4 class="heading"><i class="large blue world icon"></i>Spatial Range</h4>
                  </div>
                  <div class="ui gray attached segment"><div class="ui relaxed divided list">
                    <div class="item">
                      <div class="ui red horizontal label">Min</div>{{m.description.resolutions.minimum.spatial.value}}
                      {{m.description.resolutions.minimum.spatial.units}}
                    </div>
                    <div class="item">
                      <div class="ui orange horizontal label">Opt</div>{{m.description.resolutions.optimum.spatial.value}}
                      {{m.description.resolutions.optimum.spatial.units}}
                    </div>
                    <div class="item">
                      <div class="ui green horizontal label">Max</div>{{m.description.resolutions.maximum.spatial.value}}
                      {{m.description.resolutions.maximum.spatial.units}}
                    </div>
                  </div>
                </div>
                </div>
                <div class="ui four wide column">
                  <div class="ui top attached segment"><h4 class="top attached heading"><i class="large blue clock icon"></i>Temporal Range</h4>
                  </div>
                  <div class="ui gray attached segment"><div class="ui relaxed divided list">
                    <div class="item">
                      <div class="ui red horizontal label">Min</div>{{m.description.resolutions.minimum.temporal.value}}
                      {{m.description.resolutions.minimum.temporal.units}}
                    </div>
                    <div class="item">
                      <div class="ui orange horizontal label">Opt</div>{{m.description.resolutions.optimum.temporal.value}}
                      {{m.description.resolutions.optimum.temporal.units}}
                    </div>
                    <div class="item">
                      <div class="ui green horizontal label">Max</div>{{m.description.resolutions.maximum.temporal.value}}
                      {{m.description.resolutions.maximum.temporal.units}}
                    </div>
                  </div>
                </div>
                </div>
                <div class="ui four wide column">
                  <div class="ui top attached segment"><h4 class="top attached heading"><i class="large blue fire icon"></i>Fuel Types</h4></div>
                </div>
                <div class="ui four wide column">
                  <div class="ui top attached segment"><h4 class="top attached heading"><i class="large blue tree icon"></i>Vegetation Types</h4></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </sui-accordion-panel>
  </sui-accordion>
</div>


<lfmc-footer></lfmc-footer>
