<!-- Query has been submitted -->
<div *ngIf="querytasks && querytasks.length > 0">
  <div class="inverted segment">
    <!-- Controls for whole Query (including all subtasks). -->
    <div class="ui top attached inverted menu">
      <div class="item">
        Overall Query Progress:
      </div>
      <div class="right menu">

        <div class="item">
          <div class="ui right aligned compact basic icon buttons">
            <button class="ui basic yellow icon button" (click)="abort(uuid)">
              <i class="pause icon"></i>
            </button>
            <button class="ui basic orange icon  button" (click)="revoke(uuid)">
              <i class="close icon"></i>
            </button>
            <button class="ui basic red icon  button" (click)="cancel_query()">
              <i class="ban icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="ui bottom attached tiny form">-->
      <!--<div class="scrolling content progresspane">-->
        <div class="ui three column grid">
          <!-- Sub tasks that contribute to this query -->
          <div *ngFor="let subtask of querytasks" class="middle aligned row">
            <app-modelprogress [uuid]="subtask.uuid"></app-modelprogress>
          </div>
        </div>
      <!--</div>-->
    <!--</div>-->
  </div>
</div>

<!-- Query has NOT been submitted yet -->
<div *ngIf="querytasks.length === 0">
  <div>Make all MODEL, SPACE, & TIME selections to continue.</div>
</div>

