<jqxRangeSelector #rangeSelector
                  [width]="'inherit'"
                  [height]="'1rem'"
                  [min]="min"
                  [max]="max"
                  [range]="range"
                  [labelsOnTicks]="true"
                  [majorTicksInterval]="'month'"
                  [minorTicksInterval]="'day'"
                  [labelsFormat]="'MMM'"
                  [markersFormat]="'d'"
                  [showGroupLabels]="true"

                  (onChange)="update()" class="daterange">
</jqxRangeSelector>
