<div class="ui container">
    <!-- Steps -->
  <div class="ui fluid steps">
    <div class="active step">
      <i class="file outline icon"></i>
      <div class="content">
        <div class="title">Upload File(s)</div>
        <div class="description">Import for analysis</div>
      </div>
    </div>
    <div class="disabled step">
      <i class="bar chart icon"></i>
      <div class="content">
        <div class="title">Check for consistency</div>
        <div class="description">Metadata analysis</div>
      </div>
    </div>
    <div class="disabled step">
      <i class="microchip icon"></i>
      <div class="content">
        <div class="title">Conversion to GeoJSON</div>
      </div>
    </div>
    <div class="disabled step">
      <i class="server icon"></i>
      <div class="content">
        <div class="title">Ready for use</div>
      </div>
    </div>
  </div>

  <!-- Start: File Drop Area -->
  <div ng2FileDrop
  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
  (fileOver)="fileOverBase($event)"
  [uploader]="uploader"
  class="well">
    <div class="ui segment dropzone">
      <i class="big upload icon disabled"></i>
      <h3>Drag and Drop</h3>
    </div>
  </div>
  <!-- End: File Drop Area -->
  <div class="ui horizontal divider"> Or</div>

  <!-- Start: File Chooser -->
  <div class="ui segment">
    <h3>Choose a file to upload: </h3>
    <input ng2FileSelect
    [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
    type="file"
    (fileOver)="fileOverAnother($event)"
    [uploader]="uploader"
    multiple />
  </div>
  <!-- End: File Chooser -->


  <!-- Start: uploader queue -->
  <div *ngIf="uploader.queue.length > 0">
    <!-- Uploader has Items -->
    <div class="ui horizontal divider"></div>
    <div class="ui attached segment">
      <div class="mini ui icon buttons right floated">
        <button type="button" class="mini ui icon positive button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length"><i class="upload icon"></i>Upload All</button>
        <button type="button" class="mini ui icon blue button" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading"><i class="ban icon"></i>Cancel All</button>
        <button type="button" class="mini ui icon negative button" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length"><i class="delete icon"></i>Flush Queue</button>
      </div>
      <h2 class="ui header">File Upload Queue</h2>
      <p>Contains {{uploader.queue.length}} item<span *ngIf="uploader.queue.length > 1">s</span>.</p>
    </div>

    <!-- ITEMS -->
    <div class="ui attached segment">
      <div class="ui internally celled grid">
        <!-- start: item -->
        <div *ngFor="let item of uploader.queue" class="equal height row">
          <div class="four wide column">
            <h5 class="header">{{ item.file.name }}</h5>
            <div class="meta">
              <p>{{item.file.size/1024/1024 | number:'.2'}} MB</p>
              <p>{{item.file.type}}</p>
            </div>
          </div>
          <div class="seven wide column middle aligned">
              <sui-progress [value]="item.progress" [showProgress]="true" [maximum]="maximum" [precision]="precision">
                <div class="progress">{{item.progress + '%'}}</div>
              </sui-progress>
            </div>
          <div class="five wide column middle aligned">
            <div class="mini ui icon buttons fluid">
              <button type="button" class="mini ui icon button" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess || item.isError"><i class="green upload icon"></i>Upload file</button>
              <button type="button" class="mini ui icon button" (click)="item.cancel()" [disabled]="!item.isUploading"><i class="blue stop icon"></i>Stop upload</button>
              <button type="button" class="mini ui icon button" (click)="item.remove()" [disabled]="!item.isSuccess"><i class="red delete icon"></i>Remove file</button>
            </div>
          </div>
        </div>
        <!-- end: item -->
      </div>
    </div>
    <!-- End: ITEMS -->
  </div>
</div>
