<div class="ui blurring inverted segment">
  <div class="chartcontainer dark">
    <div *ngIf="dimmer">
      <!--<div class="ui active dimmer">-->
      <!--<div class="ui indeterminate text loader">-->
      <!--&lt;!&ndash;<div *ngIf="chart_is_ready">Preparing your results.</div>&ndash;&gt;-->
      <!--<div *ngIf="!chart_is_ready">Make boundary, model, and temporal selections.</div>-->
      <!--</div>-->
      <!--</div>-->


      <app-queryprogress [querytasks]="qt" (cancel)="do_cancel()"></app-queryprogress>

    </div>
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [showGridLines]="showGridLines"
      [showRefLines]="showRefLines"
      [referenceLines]="referenceLines"
      [roundDomains]="roundDomains"
      [schemeType]="schemeType"
      [timeline]="timeline"
      [curve]="curve"
      [autoScale]="autoScale"
      rangeFillOpacity="0.13"

      [activeEntries] = "highlights"
      (deactivate) = "onActivateAndDeactivate()"
      (active) = "onActivateAndDeactivate()"

      (select)="onSelect($event)"
      *ngIf="!dimmer">
    </ngx-charts-line-chart>
  </div>
</div>

<!-- Property	Type	Default Value	Description
view	number[]		the dimensions of the chart [width, height]. If left undefined, the chart will fit to the parent container size
results	object[]		the chart data
scheme	object		the color scheme of the chart
schemeType	string	'ordinal'	the color scale type. Can be either 'ordinal' or 'linear'
customColors	object		custom colors for the chart. Used to override a color for a specific value
rangeFillOpacity	number	0.15	opacity of the shadow around the line indication the (optional) min and max values. The range shadow is only displayed if min and max values are provided with the data. The color of the shadow is alwas the color of the central line.
legend	boolean	false	show or hide the legend
legendTitle	string	'Legend'	the legend title
xAxis	boolean	false	show or hide the x axis
yAxis	boolean	false	show or hide the y axis
showGridLines	boolean	true	show or hide the grid lines
roundDomains	boolean	false	round domains for aligned gridlines
showXAxisLabel	boolean	false	show or hide the x axis label
showYAxisLabel	boolean	false	show or hide the y axis label
xAxisLabel	string		the x axis label text
yAxisLabel	string		the y axis label text
xAxisTickFormatting	function		the x axis tick formatting
yAxisTickFormatting	function		the y axis tick formatting
timeline	boolean	false	display a timeline control under the chart. Only available if x scale is date
autoScale	boolean	false	set the minimum value of the y axis to the minimum value in the data, instead of 0
curve	function		the interpolation function used to generate the curve. It accepts any d3.curve function
gradient	boolean	false	fill elements with a gradient instead of a solid color
activeEntries	object[]	[]	elements to highlight
tooltipDisabled	boolean	false	show or hide the tooltip
tooltipTemplate	TemplateRef		a custom ng-template to be displayed inside the tooltip when hovering a single point
seriesTooltipTemplate	TemplateRef		a custom ng-template to be displayed inside the tooltip when hovering series
referenceLines	object[]		an array of reference lines to be shown behind the chart. Every reference line should be of format {name, value}
showRefLines	boolean	false	show or hide the reference lines
showRefLabels	boolean	true	show or hide the reference line labels -->
